.swiftpm/xcode/xcuserdata/vcherepjanko.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/vcherepjanko.xcuserdatad/UserInterfaceState.xcuserstate
